body {
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color: pink;
}
ul {
  position: fixed;
  top:200px;
}
f1 {
  left:58px
}
.fur1 {
  position: fixed;
  top:226px;
  z-index: 1;
}
